---
import { projects } from '../data/projects.js'
import ProjectsItems from './ProjectsItems.astro'
---

<ul class="mt-8">
    {
        projects.map(({title, description, image, link, technologies}, index) => {
            let id = "." + (index + 1).toString().padStart(2, '0');
            return (
                <li class="relative border border-slate-700/50 dark:border-slate-700/100 rounded-xl mb-3">
                    <ProjectsItems id={id} title={title} description={description} image={image} link={link} technologies={technologies}/>
                </li>
            )
        })
    }
</ul>
