---
import { icos } from '../data/projects.js'

export interface Props {
    bgSize?: string;
    wSize?: string;
    ulWidth?: string;
    maTop?: string;
    justify?: string;
    dNone?: string;
    dFlex?: string;
    grAFlow?: string;
}

const { bgSize, wSize, ulWidth, maTop, justify, dFlex, dNone, grAFlow } = Astro.props;
---

<ul class={`${dFlex ? dFlex :'flex'} ${grAFlow} ${dNone ? dNone : 'display-inherit'} ${justify ? justify : 'justify-evenly'} items-center ${maTop ? maTop : 'mt-16'} ${ulWidth ? ulWidth : 'w-[inherit]'}`}>
    {
         Object.entries(icos).map(([name, {icon, link, fade}]) => (
            <li class={`${fade} flex`}>
                <a target="_blank" class={`bg-${name} bg-no-repeat inline-block cursor-pointer ${bgSize ? bgSize : 'bg-32'} dark:invert ${fade}`} href={link}>
                    <img class={`scale-100 opacity-100 hover:opacity-0 hover:scale-150 hover:transition-all hover:duration-300 hover:ease-in inherit ${wSize ? wSize : 'w-8'} dark:invert-0`} src={icon} alt={name}>
                </a>
            </li>
        ))
    }          
</ul>

<style>
    .bg-twitter { background: url('/twitter.svg') }
    
    .bg-linkedin { background: url('/linkedin.svg'); }

    .bg-github { background: url('/github.svg'); }

    .bg-instagram { background: url('/instagram.svg'); }

</style>